<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http:/java.sun.com/dtd/web-app_2_3.dtd">
	<context-param>
      <param-name>webmaster</param-name>
      <param-value>support@reqif.de</param-value>
      <description>
        The EMAIL address of the administrator to whom questions and comments about this application should be addressed.
      </description>
    </context-param>    
	<!--mime-mapping>  
        <extension>appcache</extension>  
        <mime-type>text/cache-manifest</mime-type>  
    </mime-mapping -->  
    <display-name>SpecIF Apps</display-name>
    <!--<servlet-mapping>
        <servlet-name>favicon</servlet-name>
        <url-pattern>/favicon.ico</url-pattern>
    </servlet-mapping>-->
	<session-config>
      <session-timeout>10</session-timeout>    <!-- 10 minutes -->
    </session-config>
</web-app>
